
/* Ingresa tu css aqui */

body{
	text-align: center;
	font-size: 18px;

}
img{
	max-width: 100%;
}
h1{
	font-size: 18px;
	text-align: left;
}
h3{
	text-align: left;
}
.container{
	width: 500px;
	margin: 0 auto;

}
.home-description{
	margin: 0 80px;
}
.list-menu{
	list-style: none;
	margin: 10px 0;
	padding: 10px 0;
	border-top: 1px solid #000;
	border-bottom: 1px solid #000;
}
.list-menu li{
	display: inline-block;
	border-right: 1px solid #000;
}
.list-menu li:last-child{
	border-right: none;

}
.list-menu a{
	display: block;
	padding: 8px 15px;
	text-decoration: none;
	color: #111;
	font-size: 19px;
}
.list-coders{
	list-style: none;
	margin: 0;
	padding: 0;
	margin: 20 0 0 0;
	text-align: center;

}

.list-coders li{
	display: inline-block;
	width: 29%;
	margin: 8px;

}
.list-coders a{
	display: block;
	position: relative;
	color: #fff;

}
.list-coders p{
	margin: 0;
	position: absolute;
	bottom: 10px;
	right: 10px;

}
.separador-chico{
	border-color: #ebebeb;
	width: 50px;

}
.separador-grande{
	border-width: 3px;
	border-color: #000;
	width: 50px;
	margin: 0;
}
.container-coder{
	width: 500px;
	margin: 0;
}

.lorem img{
	border-radius: 100%;
	width: 80px;
}
.biografia{
	margin-left: 25px;
	margin-right: 25px;
}
.item{
	text-align: left;
	font-size: 15px;
	color: white;
	margin: 25px;
	background-color: #6E6E6E;
	padding: 10px;
	border:1px;

}
.uno{
	width: 380px;
	
}
.dos{
	width: 260px;
	
}
.tres{
	width: 140px;
}

.list-imagenes{
	
	text-align: center;
	margin-left: -30px;
	
	
}

.list-imagenes li{
	display: inline-block;
	width: 29%;
	margin: 8px;
	clear: both;
	overflow: hidden
	
}






