
.container{
	width: 600px;
	margin: 0 auto;

}
.container-coder{
	width: 600px;
	margin: 0;
	border: 2px solid black;
	padding:10px;

}

.lorem img {

	border-radius: 100%;
	width: 150px;
	position: relative;
	left:200px;

}
h3{
	text-align: left;
	font-size: 30px;
}
h2
{
	text-align: center;
	font-size: 35px;
}

img{
	max-width: 100%;
}
.biografia{
	margin-left: 25px;
	margin-right: 25px;
	font-size: 17px;
	text-align: center;
}
.item{
	text-align: left;
	font-size: 20px;
	color: white;
	margin: 25px;
	background-color: #6E6E6E;
	padding: 10px;
	border:1px;
}
.uno{
	width: 380px;
	
}
.dos{
	width: 260px;
	
}
.tres{
	width: 140px;
}

.list-imagenes{
	
	text-align: center;
	margin-left: -30px;
	
	
}

.list-imagenes li{
	display: inline-block;
	width: 29%;
	margin: 8px;
	clear: both;
	overflow: hidden
	
}

